#maintab {
	padding: 0px;
	width: 1000px;
}

.words{
	padding: 10px;
	text-align: center;
	font: bold 110% serif;
}

td, th{
	margin: 0px;
	padding: 0px;
}

ul,li{
	margin: 0px;
	padding: 0px;
}

#rotator1, #rotator2 {
	width: 500px;
    height: 400px;
    margin: 0px;
} 

#rotator1 ul li, #rotator2 ul li {
    float:left; position:absolute; list-style: none;
}

#rotator1 ul li.show, #rotator2 ul li.show {
    z-index:500;
}

.slide-img {
	width: 500px;
	height: 400px;
	margin: 0px;
}
